<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <title>Hàng Mới Về - Nam | IVY moda</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/category.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="https://pubcdn.ivymoda.com/ivy2/images/logo.png" alt="">
            </a>
        </div>
        <div class="menu">
            <li><a href="" class="a1">NỮ</a>
                <ul class="sub-menu">
                    <li><a href="">Hàng mới về</a></li>
                    <li><a href="">Colection</a></li>
                    <li>Áo
                        <ul>
                            <li><a href="">Áo sơ mi</a></li>
                            <li><a href="">Áo thun</a></li>
                            <li><a href="">Áo vest</a></li>
                            <li><a href="">Áo khoác</a></li>
                            <li><a href="">Áo len</a></li>
                        </ul>
                    </li>
                    <li>Quần
                        <ul>
                            <li><a href="">Quần jean</a></li>
                            <li><a href="">QuầN lửng</a></li>
                            <li><a href="">Quần dài</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li><a href="#" class="a2">NAM</a>
                <ul class="nam-menu">
                    <li><a href="" style="font-size: 13px;">METAGENT</a></li>
                    <li>ÁO
                        <ul>
                            <li><a href="">Áo thun</a></li>
                            <li><a href="">Áo khoác</a></li>
                            <li><a href="">Áo sơ mi</a></li>
                            <li><a href="">Áo polo</a></li>
                            <li><a href="">Áo phông</a></li>
                        </ul>
                    </li>
                    <li>QUẦN NAM
                        <ul>
                            <li><a href="">Quần Jean</a></li>
                            <li><a href="">Quần lửng</a></li>
                            <li><a href="">Quần dài</a></li>
                            <li><a href="">Quần kaki</a></li>
                            <li><a href="">Quần xuông</a></li>
                        </ul>
                    </li>
                    <li>GIÀY DÉP
                        <ul>
                            <li><a href="">Giày/Dép</a></li>
                        </ul>
                    </li>
                    <li>PHỤ KIỆN
                        <ul>
                            <li><a href="">Phụ kiện</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="category_baby.html" class="a3">TRẺ EM</a>
                <ul class="baby-menu">
                    <li><a href="">COTTON KHÁNG KHUẨN</a></li>
                    <li>BÉ GÁI
                        <ul>
                            <li><a href="">Áo phao</a></li>
                            <li><a href="">Áo bé gái</a></li>
                            <li><a href="">Quần bé gái</a></li>
                            <li><a href="">Váy bé gái</a></li>
                        </ul>
                    </li>
                    <li>BÉ TRAI
                        <ul>
                            <li><a href="">Áo phao</a></li>
                            <li><a href="">Áo bé trai</a></li>
                            <li><a href="">Quần bé trao</a></li>
                            <li><a href="">Phụ kiện bé trai</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a href="" class="a4">LIFESTYLE</a></li>
            <li><a href="" class="a5">BỘ SƯU TẬP</a>
                <ul class="colection-menu">
                    <li>Nữ
                        <ul>
                            <li><a href="">HARMONY</a></li>
                            <li><a href="">TIMELESS</a></li>
                            <li><a href="">CHAU GIA AO DAI</a></li>
                            <li><a href="">MERINO WOOL</a></li>
                            <li><a href="">BLOOMTIME</a></li>
                            <li><a href="">SPRINGLOVE</a></li>
                            <li><a href="">TIMELESS</a></li>
                        </ul>
                    </li>
                    <li>Nam
                        <ul>
                            <li><a href="">NEW POLO FOR MAN</a></li>
                            <li><a href="">NATURE SORT</a></li>

                        </ul>
                    </li>
                    <li>Trẻ em
                        <ul>
                            <li><a href="">ORGANIC COTTON</a></li>
                            <li><a href="">DRAW THE DREAM</a></li>
                            <li><a href="">ADURABLE SWEATSUIT</a></li>
                            <li><a href="">TIMELESS</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li><a href="" class="a6">VỀ CHÚNG TÔI</a>
                <ul class="my-menu">
                    <li><a href="">Về IVY moda</a></li>
                    <li><a href="">Fashion Show</a></li>
                    <li><a href="">Hoạt Động Cộng Đồng</a></li>

                </ul>
            </li>

        </div>
        <div class="others">
            <li><input placeholder="tìm kiếm" type="text"><i><ion-icon name="search-outline"></ion-icon></i></li>
            <li><a href=""><ion-icon name="headset-outline"></ion-icon></a></li>
            <li><a href=""><ion-icon name="person-outline"></ion-icon></a></li>
            <li><a href=""><ion-icon name="bag-outline"></ion-icon></a></li>
        </div>
    </header>


    <section class="category" style="margin-top: 100px;">
        <div class="container">
            <div class="category-top row">
                <p>Trang chủ</p> <span>&rarr;</span>
                <p>Nam</p> <span></span>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="category-left row">
                    <ul class="ul1">
                        <li class="category-left-li"><a href="category.html">Nữ</a>
                            <ul>
                                <li><a href="">Hàng nữ mới về</a></li>
                                <li><a href="">Jean for joy</a></li>
                                <li><a href="">Quần jean nữ</a></li>
                            </ul>
                        </li>
                        <li class="category-left-li"><a href="#">Nam</a>
                            <ul>
                                <li><a href="">Hàng Nam mới về</a></li>
                                <li><a href="">Jean for joy</a></li>
                                <li><a href="">Quần jean nữ</a></li>
                            </ul>
                        </li>
                        <li class="category-left-li"><a href="category_baby.html">Trẻ em</a>

                            <ul>
                                <li><a href="">Hàng trẻ em mới về</a></li>
                                <li><a href="">Jean for joy</a></li>
                                <li><a href="">Quần jean nữ</a></li>
                            </ul>
                        </li>
                        <li class="category-left-li"><a href="">Bộ sưu tập</a>

                            <ul>
                                <li><a href="">Hàng nữ mới về</a></li>
                                <li><a href="">Jean for joy</a></li>
                                <li><a href="">Quần jean nữ</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="category-right row">

                    <div class="category-right-top-item">
                        <p>HÀNG NAM MỚI VỀ</p>
                    </div>
                    <div class="category-right-top-item">
                        <button><span>Bộ lọc</span><ion-icon name="caret-down-outline"></ion-icon></button>
                    </div>
                    <div class="category-right-top-item">
                        <select>

                            <option value="">Sắp xếp</option>
                            <option value="">Giá cả cao đến thấp</option>
                            <option value="">Giá cả thấp đến cao</option>
                        </select>
                    </div>
                    <div class="category-right-top-content row">
                        <div class="category-right-content-item">
                            <a href="product.html"><img
                                    src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/17/033bfa3ec08f55d4e6aefc14b1107738.JPG"
                                    alt=""></a>
                            <h1>Áo Thun Nỉ Tay Dài</h1>
                            <p>297.000đ</p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/26/69d1318cbf68a00dc05ac5eff4043690.JPG"
                                alt="">
                            <h1>Áo Thun Nỉ Tay Dài</h1>
                            <p>297.000đ</p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/17/d3b2cc931b497fa489fa60bf38f91761.JPG   "
                                alt="">
                            <h1>Quần Gió Cạp Chun</h1>
                            <p>297.000đ</p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/26/bf3e7a2ab930a910a3ef10094ae61336.JPG"
                                alt="">
                            <h1>SQuần Gió Cạp Chunt</h1>
                            <p>297.000đ</p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/12/01/b792d388976d5f69b735dfb8974dd19b.JPG"
                                alt="">
                            <h1>Áo Bomber Nam Oversize</h1>
                            <p>417.000đ</p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/17/5b8fbc984ee4c27f026b963b3dffab01.jpg"
                                alt="">
                            <h1>Áo Khoác Gió Nam Thể Thao</h1>
                            <p>417.000đ</p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/17/b51df0e78759a43280abd6972c7d914e.JPG"
                                alt="">
                            <h1>Quần Gió Thể Thao Nam</h1>
                            <p>327.000đ</p>
                        </div>
                        <div class="category-right-content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/26/82dd9fc52dd98117097290669fcf35aa.JPG"
                                alt="">
                            <h1>Quần Gió Thể Thao Nam</h1>
                            <p>327.000đ</p>
                        </div>

                    </div>
                    <div class="category-right-bottom row">
                        <div class="category-right-bottom-item">
                            <p>Hiển thị 2<span>|</span>4 sản phẩm</p>
                        </div>
                        <div class="category-right-bottom-item">
                            <p><span>&#171;</span> 1 2 3 4 5 <span>&#187;</span> Trang cuối</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </section>




    <section class="app-container">
        <p>Tải ứng dụng IVY mmoda</p>
        <div class="app-google">
            <img src="https://pubcdn.ivymoda.com/ivy2/images/appstore.png">
            <img src="https://pubcdn.ivymoda.com/ivy2/images/googleplay.png">
        </div>
        <p>Nhận bản tin IVY moda</p>
        <input type="text" placeholder="Nhập email của bạn.... ">

    </section>
    <footer>
        <div class="footer-top">
            <li><a href=""><img src="https://pubcdn.ivymoda.com/ivy2/images/img-congthuong.png" alt=""></a></li>
            <li><a href=""></a>Liên hệ</li>
            <li><a href=""></a>Tuyển dụng</li>
            <li><a href=""></a>Giới thiệu</li>
            <li>
                <a href=""><ion-icon name="logo-youtube"></ion-icon></a>
                <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
            </li>
        </div>
        <p> Công ty Cổ phần Dự Kim với số đăng ký kinh doanh: 0105777650 <br><br>

            Địa chỉ đăng ký: Tổ dân phố Tháp, P.Đại Mỗ, Q.Nam Từ Liêm, TP.Hà Nội, Việt Nam<br>

            Số điện thoại: <b>0243 205 2222/ 090 589 8683</b><br><br>

            Email: cskh@ivy.com.vn</p>
        <div class="footer-bottom">
            ©IVYmoda All rights reserved
        </div>
    </footer>
</body>

</html>