<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/category.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/delivery.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</head>

<body>
    <header style="z-index: 1;">
        <div class="logo">
            <a href="index.html">
                <img src="https://pubcdn.ivymoda.com/ivy2/images/logo.png" alt="">
            </a>
        </div>
        <div class="menu">
            <li><a href="" class="a1">NỮ</a>
                <ul class="sub-menu">
                    <li><a href="category.html">Hàng mới về</a></li>
                    <li><a href="">Colection</a></li>
                    <li>Áo
                        <ul>
                            <li><a href="">Áo sơ mi</a></li>
                            <li><a href="">Áo thun</a></li>
                            <li><a href="">Áo vest</a></li>
                            <li><a href="">Áo khoác</a></li>
                            <li><a href="">Áo len</a></li>
                        </ul>
                    </li>
                    <li>Quần
                        <ul>
                            <li><a href="">Quần jean</a></li>
                            <li><a href="">QuầN lửng</a></li>
                            <li><a href="">Quần dài</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li><a href="category_nam.html" class="a2">NAM</a>
                <ul class="nam-menu">
                    <li><a href="" style="font-size: 13px;">METAGENT</a></li>
                    <li>ÁO
                        <ul>
                            <li><a href="">Áo thun</a></li>
                            <li><a href="">Áo khoác</a></li>
                            <li><a href="">Áo sơ mi</a></li>
                            <li><a href="">Áo polo</a></li>
                            <li><a href="">Áo phông</a></li>
                        </ul>
                    </li>
                    <li>QUẦN NAM
                        <ul>
                            <li><a href="">Quần Jean</a></li>
                            <li><a href="">Quần lửng</a></li>
                            <li><a href="">Quần dài</a></li>
                            <li><a href="">Quần kaki</a></li>
                            <li><a href="">Quần xuông</a></li>
                        </ul>
                    </li>
                    <li>GIÀY DÉP
                        <ul>
                            <li><a href="">Giày/Dép</a></li>
                        </ul>
                    </li>
                    <li>PHỤ KIỆN
                        <ul>
                            <li><a href="">Phụ kiện</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="category_baby.html" class="a3">TRẺ EM</a>
                <ul class="baby-menu">
                    <li><a href="">COTTON KHÁNG KHUẨN</a></li>
                    <li>BÉ GÁI
                        <ul>
                            <li><a href="">Áo phao</a></li>
                            <li><a href="">Áo bé gái</a></li>
                            <li><a href="">Quần bé gái</a></li>
                            <li><a href="">Váy bé gái</a></li>
                        </ul>
                    </li>
                    <li>BÉ TRAI
                        <ul>
                            <li><a href="">Áo phao</a></li>
                            <li><a href="">Áo bé trai</a></li>
                            <li><a href="">Quần bé trao</a></li>
                            <li><a href="">Phụ kiện bé trai</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a href="" class="a4">LIFESTYLE</a></li>
            <li><a href="" class="a5">BỘ SƯU TẬP</a>
                <ul class="colection-menu">
                    <li>Nữ
                        <ul>
                            <li><a href="">HARMONY</a></li>
                            <li><a href="">TIMELESS</a></li>
                            <li><a href="">CHAU GIA AO DAI</a></li>
                            <li><a href="">MERINO WOOL</a></li>
                            <li><a href="">BLOOMTIME</a></li>
                            <li><a href="">SPRINGLOVE</a></li>
                            <li><a href="">TIMELESS</a></li>
                        </ul>
                    </li>
                    <li>Nam
                        <ul>
                            <li><a href="">NEW POLO FOR MAN</a></li>
                            <li><a href="">NATURE SORT</a></li>

                        </ul>
                    </li>
                    <li>Trẻ em
                        <ul>
                            <li><a href="">ORGANIC COTTON</a></li>
                            <li><a href="">DRAW THE DREAM</a></li>
                            <li><a href="">ADURABLE SWEATSUIT</a></li>
                            <li><a href="">TIMELESS</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li><a href="" class="a6">VỀ CHÚNG TÔI</a>
                <ul class="my-menu">
                    <li><a href="">Về IVY moda</a></li>
                    <li><a href="">Fashion Show</a></li>
                    <li><a href="">Hoạt Động Cộng Đồng</a></li>

                </ul>
            </li>

        </div>
        <div class="others">
            <li><input placeholder="tìm kiếm" type="text"><i><ion-icon name="search-outline"></ion-icon></i></li>
            <li><a href=""><ion-icon name="headset-outline"></ion-icon></a></li>
            <li><a href=""><ion-icon name="person-outline"></ion-icon></a></li>
            <li><a href=""><ion-icon name="bag-outline"></ion-icon></a></li>
        </div>
    </header>


    <section class="delivery">
        <div class="container">
            <div class="cart-top-wrap">
                <div class="cart-top">
                    <div class="cart-top-cart cart-top-item" style="border:1px solid #dddddd;"><ion-icon
                            style="color: #a5a0a0;" name="cart-outline" class=""></ion-icon></div>
                    <div class="cart-top-address cart-top-item"><ion-icon name="map-outline" class=""></ion-icon></div>
                    <div class="cart-top-payment cart-top-item"><ion-icon name="cash-outline" class=""></ion-icon></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="delivery-content row">
                <div class="delivery-content-left">
                    <div style="margin-left: 30px;">
                        <p>Vui lòng nhập địa chỉ giao hàng</p>
                        <div class="delivery-content-left-dangnhap row">
                            <ion-icon name="log-out-outline"></ion-icon>
                            <p>
                                Đăng nhập (nếu bạn đã có tài khoản của Ivy)
                            </p>
                        </div>
                        <div class="delivery-content-left-khachle row">
                            <input checked type="radio" name="loaikhach">
                            <p><span style="font-weight: bold;">Khác lẻ</span>(Nếu bạn muốn lưu lại thông tin)</p>
                        </div>
                        <div class="delivery-content-left-dangky row">
                            <input type="radio" name="loaikhach">
                            <p><span style="font-weight: bold;">Đăng kí</span>(Tạo mới tài khoản với thông tin bên dưới)
                            </p>
                        </div>
                        <div class="delivery-content-left-input-top row">
                            <div class="delivery-content-left-input-top-item">
                                <label for="">Họ tên<span style="color: red;">*</span></label>
                                <input type="text">
                            </div>
                            <div class="delivery-content-left-input-top-item">
                                <label for="">Điện thoại<span style="color: red;">*</span></label>
                                <input type="text">
                            </div>
                            <div class="delivery-content-left-input-top-item">
                                <label for="">Tỉnh/Tp<span style="color: red;">*</span></label>
                                <input type="text">
                            </div>
                            <div class="delivery-content-left-input-top-item">
                                <label for="">Quận huyện<span style="color: red;">*</span></label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="delivery-content-left-input-top-bottom">
                            <label for="">Địa chỉ<span style="color: red;">*</span></label>
                            <input type="text">

                        </div>
                        <div class="delivery-content-left-input-button row">
                            <a href="cart.html" style="font-size: 12px;">Quay lại giỏ hàng</a>
                            <a href="payment.html"> <button>
                                    <p style="">THANH TOÁN VÀ GIAO HÀNG</p>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="delivery-content-right">
                    <table>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>giảm giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                        </tr>
                        <tr>
                            <td>Sơ mi họa tiết ren</td>
                            <td>-30%</td>
                            <td>1</td>
                            <td>763.000đ</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-weight: bold;">Tổng</td>
                            <td style="font-weight: bold;">763.000đ</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-weight: bold;">Thuế VAT</td>
                            <td style="font-weight: bold;">76.000đ</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-weight: bold;">Tổng tiền hàng</td>
                            <td style="font-weight: bold;">703.000đ</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>



    <section class="app-container" style="margin-top: 100px;">
        <p>Tải ứng dụng IVY mmoda</p>
        <div class="app-google">
            <img src="https://pubcdn.ivymoda.com/ivy2/images/appstore.png">
            <img src="https://pubcdn.ivymoda.com/ivy2/images/googleplay.png">
        </div>
        <p>Nhận bản tin IVY moda</p>
        <input type="text" placeholder="Nhập email của bạn.... ">

    </section>
    <footer>
        <div class="footer-top">
            <li><a href=""><img src="https://pubcdn.ivymoda.com/ivy2/images/img-congthuong.png" alt=""></a></li>
            <li><a href=""></a>Liên hệ</li>
            <li><a href=""></a>Tuyển dụng</li>
            <li><a href=""></a>Giới thiệu</li>
            <li>
                <a href=""><ion-icon name="logo-youtube"></ion-icon></a>
                <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
            </li>
        </div>
        <p> Công ty Cổ phần Dự Kim với số đăng ký kinh doanh: 0105777650 <br><br>

            Địa chỉ đăng ký: Tổ dân phố Tháp, P.Đại Mỗ, Q.Nam Từ Liêm, TP.Hà Nội, Việt Nam<br>

            Số điện thoại: <b>0243 205 2222/ 090 589 8683</b><br><br>

            Email: cskh@ivy.com.vn</p>
        <div class="footer-bottom">
            ©IVYmoda All rights reserved
        </div>
    </footer>

</body>

</html>