<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Tang chủ | IVY moda</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="https://pubcdn.ivymoda.com/ivy2/images/logo.png" alt="">
            </a>
        </div>
        <div class="menu">
            <li><a href="" class="a1">NỮ</a>
                <ul class="sub-menu">
                    <li><a href="category.html">Hàng mới về</a></li>
                    <li><a href="">Colection</a></li>
                    <li>Áo
                        <ul>
                            <li><a href="">Áo sơ mi</a></li>
                            <li><a href="">Áo thun</a></li>
                            <li><a href="">Áo vest</a></li>
                            <li><a href="">Áo khoác</a></li>
                            <li><a href="">Áo len</a></li>
                        </ul>
                    </li>
                    <li>Quần
                        <ul>
                            <li><a href="">Quần jean</a></li>
                            <li><a href="">QuầN lửng</a></li>
                            <li><a href="">Quần dài</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li><a href="./category_nam.html" class="a2">NAM</a>
                <ul class="nam-menu">
                    <li><a href="" style="font-size: 13px;">METAGENT</a></li>
                    <li>ÁO
                        <ul>
                            <li><a href="">Áo thun</a></li>
                            <li><a href="">Áo khoác</a></li>
                            <li><a href="">Áo sơ mi</a></li>
                            <li><a href="">Áo polo</a></li>
                            <li><a href="">Áo phông</a></li>
                        </ul>
                    </li>
                    <li>QUẦN NAM
                        <ul>
                            <li><a href="">Quần Jean</a></li>
                            <li><a href="">Quần lửng</a></li>
                            <li><a href="">Quần dài</a></li>
                            <li><a href="">Quần kaki</a></li>
                            <li><a href="">Quần xuông</a></li>
                        </ul>
                    </li>
                    <li>GIÀY DÉP
                        <ul>
                            <li><a href="">Giày/Dép</a></li>
                        </ul>
                    </li>
                    <li>PHỤ KIỆN
                        <ul>
                            <li><a href="">Phụ kiện</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="category_baby.html" class="a3">TRẺ EM</a>
                <ul class="baby-menu">
                    <li><a href="">COTTON KHÁNG KHUẨN</a></li>
                    <li>BÉ GÁI
                        <ul>
                            <li><a href="">Áo phao</a></li>
                            <li><a href="">Áo bé gái</a></li>
                            <li><a href="">Quần bé gái</a></li>
                            <li><a href="">Váy bé gái</a></li>
                        </ul>
                    </li>
                    <li>BÉ TRAI
                        <ul>
                            <li><a href="">Áo phao</a></li>
                            <li><a href="">Áo bé trai</a></li>
                            <li><a href="">Quần bé trao</a></li>
                            <li><a href="">Phụ kiện bé trai</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a href="" class="a4">LIFESTYLE</a></li>
            <li><a href="" class="a5">BỘ SƯU TẬP</a>
                <ul class="colection-menu">
                    <li>Nữ
                        <ul>
                            <li><a href="">HARMONY</a></li>
                            <li><a href="">TIMELESS</a></li>
                            <li><a href="">CHAU GIA AO DAI</a></li>
                            <li><a href="">MERINO WOOL</a></li>
                            <li><a href="">BLOOMTIME</a></li>
                            <li><a href="">SPRINGLOVE</a></li>
                            <li><a href="">TIMELESS</a></li>
                        </ul>
                    </li>
                    <li>Nam
                        <ul>
                            <li><a href="">NEW POLO FOR MAN</a></li>
                            <li><a href="">NATURE SORT</a></li>

                        </ul>
                    </li>
                    <li>Trẻ em
                        <ul>
                            <li><a href="">ORGANIC COTTON</a></li>
                            <li><a href="">DRAW THE DREAM</a></li>
                            <li><a href="">ADURABLE SWEATSUIT</a></li>
                            <li><a href="">TIMELESS</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li><a href="" class="a6">VỀ CHÚNG TÔI</a>
                <ul class="my-menu">
                    <li><a href="">Về IVY moda</a></li>
                    <li><a href="">Fashion Show</a></li>
                    <li><a href="">Hoạt Động Cộng Đồng</a></li>

                </ul>
            </li>

        </div>
        <div class="others">
            <li><input placeholder="tìm kiếm" type="text"><i><ion-icon name="search-outline"></ion-icon></i></li>
            <li><a href=""><ion-icon name="headset-outline"></ion-icon></a></li>
            <li><a href=""><ion-icon name="person-outline"></ion-icon></a></li>
            <li><a href=""><ion-icon name="bag-outline"></ion-icon></a></li>
        </div>
    </header>
    <section id="slider" class="slider">
        <div class="home aspect-ratio-169">
            <img src="https://pubcdn.ivymoda.com/files/news/2023/05/11/35cbc7f406f32b21a8ceee16f41ab9bd.gif"
                style="margin-left: 80px;">
            <img src="https://pubcdn.ivymoda.com/files/news/2023/05/15/33715ee38e8710a8af93e63aa4bc9d51.png"
                style="margin-left: 80px;">
            <img src="https://pubcdn.ivymoda.com/files/news/2023/05/15/940af46edf8dec343c72cf3e2230563e.jpg"
                style="margin-left: 80px;">
        </div>
    </section>
    <section class="home-new-prod">
        <div class="title-section">New Arrival</div>
        <div class="exclusive-tabs">
            <div class="exclusive-head">
                Sản Phẩm Nổi Bật
            </div>
        </div>
        <div class="exclusive-content">
            <div class="owl-items">
                <div class="items">
                    <div class="item">
                        <a href="/product_index_noibat/product_index1.html" class="big_img_index">
                            <img
                                src="https://pubcdn.ivymoda.com/files/product/thumab/400/2023/04/17/2b26c16981bdc6ec8559e90fae283c32.jpg">
                        </a>
                    </div>
                    <div class="infor-product">
                        <div class="list-color">
                            <ul>
                                <li>
                                    <a>
                                        <img src="https://pubcdn.ivymoda.com/ivy2/images/color/h29.png">
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="favorit">
                            <a>
                                <ion-icon name="heart" id="favorit"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="title-product">
                        <a>Đầm Xòe Thắt Dây Eo</a>
                    </div>
                    <div class="money-product">
                        <h4>2.560.000đ</h4>

                        <a href=""><ion-icon name="bag-check-sharp"></ion-icon></a>

                    </div>
                </div>
                <div class="">
                    <div class="item">
                        <a href="../product_index_noibat/product_index2.html">
                            <img
                                src="https://pubcdn.ivymoda.com/files/product/thumab/400/2023/04/17/560c3c646973527f5696f0efdec0e999.jpg">
                        </a>
                    </div>
                    <div class="infor-product">
                        <div class="list-color">
                            <ul>
                                <li>
                                    <a href="">
                                        <img src="https://pubcdn.ivymoda.com/ivy2/images/color/050.png">
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="favorit">
                            <a>
                                <ion-icon name="heart" id="favorit1"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="title-product">
                        <a href="">Đầm Quây Ngực Đính Khuy</a>
                    </div>
                    <div class="money-product">
                        <h4>1.460.000đ</h4>

                        <a href=""><ion-icon name="bag-check-sharp"></ion-icon></a>

                    </div>
                </div>
                <div class="">
                    <div class="item">
                        <a href="../product_index_noibat/product_index3.html">
                            <img
                                src="https://pubcdn.ivymoda.com/files/product/thumab/400/2023/04/17/64d2a75955531b659b75b24ff56aaa89.jpg">
                        </a>
                    </div>
                    <div class="infor-product">
                        <div class="list-color">
                            <ul>
                                <li>
                                    <a href="">
                                        <img src="https://pubcdn.ivymoda.com/ivy2/images/color/010.png">
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="favorit">
                            <a>
                                <ion-icon name="heart" id="favorit2"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="title-product">
                        <a href="">Đầm Chiffon Cổ V</a>
                    </div>
                    <div class="money-product">
                        <h4>1.560.000đ</h4>

                        <a href=""><ion-icon name="bag-check-sharp"></ion-icon></a>

                    </div>
                </div>
                <div class="">
                    <div class="item">
                        <a href="../product_index_noibat/product_index4.html">
                            <img
                                src="https://pubcdn.ivymoda.com/files/product/thumab/400/2023/03/20/f5ac55e7250e2b24b5889a2bba774a91.jpg">
                        </a>
                    </div>
                    <div class="infor-product">
                        <div class="list-color">
                            <ul>
                                <li>
                                    <a href="">
                                        <img src="https://pubcdn.ivymoda.com/ivy2/images/color/004.png">
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="favorit">
                            <a>
                                <ion-icon name="heart" id="favorit3"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="title-product">
                        <a href="">Đầm Lụa Cổ V Tay Nút Nhúm</a>
                    </div>
                    <div class="money-product">
                        <h4>1.230.000đ</h4>

                        <a href=""><ion-icon name="bag-check-sharp"></ion-icon></a>

                    </div>
                </div>
                <div class="">
                    <div class="item">
                        <a href="../product_index_noibat/product_index5.html">
                            <img
                                src="https://pubcdn.ivymoda.com/files/product/thumab/1400/2023/04/17/b55415cea7a44d4b49af04d9fade5b6d.jpg">
                        </a>
                    </div>
                    <div class="infor-product">
                        <div class="list-color">
                            <ul>
                                <li>
                                    <a href="">
                                        <img src="https://pubcdn.ivymoda.com/ivy2/images/color/050.png">
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="favorit">
                            <a>
                                <ion-icon name="heart" id="favorit4"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="title-product">
                        <a href="">Đầm Lụa Rút Dây Eo</a>
                    </div>
                    <div class="money-product">
                        <h4>1.780.000đ</h4>

                        <a href=""><ion-icon name="bag-check-sharp"></ion-icon></a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="app-container">
        <p>Tải ứng dụng IVY mmoda</p>
        <div class="app-google">
            <img src="https://pubcdn.ivymoda.com/ivy2/images/appstore.png">
            <img src="https://pubcdn.ivymoda.com/ivy2/images/googleplay.png">
        </div>
        <p>Nhận bản tin IVY moda</p>
        <input type="text" placeholder="Nhập email của bạn.... ">

    </section>
    <footer>
        <div class="footer-top">
            <li><a href=""><img src="https://pubcdn.ivymoda.com/ivy2/images/img-congthuong.png" alt=""></a></li>
            <li><a href=""></a>Liên hệ</li>
            <li><a href=""></a>Tuyển dụng</li>
            <li><a href=""></a>Giới thiệu</li>
            <li>
                <a href=""><ion-icon name="logo-youtube"></ion-icon></a>
                <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
                <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
            </li>
        </div>
        <p> Công ty Cổ phần Dự Kim với số đăng ký kinh doanh: 0105777650 <br><br>

            Địa chỉ đăng ký: Tổ dân phố Tháp, P.Đại Mỗ, Q.Nam Từ Liêm, TP.Hà Nội, Việt Nam<br>

            Số điện thoại: <b>0243 205 2222/ 090 589 8683</b><br><br>

            Email: cskh@ivy.com.vn</p>
        <div class="footer-bottom">
            ©IVYmoda All rights reserved
        </div>
    </footer>
</body>
<script src="../js.js"></script>
<script>
    const imgPosition = document.querySelectorAll(".aspect-ratio-169 img");
    const imgContainer = document.querySelector(".aspect-ratio-169");
    let imgNuber = imgPosition.length;
    let index = 0;
    imgPosition.forEach(function (image, index) {
        image.style.left = index * 100 + "%"
    })
    function imgSlider() {
        index++;
        if (index >= imgNuber) {
            index = 0;
        }
        imgContainer.style.left = "-" + index * 100 + "%";

    }
    setInterval(imgSlider, 3000)
</script>

</html>